/* variables */
$row-height: 80px;

/* styles */

.char-table {
    position: relative;
    width: 100%;
    border: 0;
}

.char-table th {
    background-color: black;
    color: white;
    border: 0;
    font-weight: bold;
}

.char-table tr {
    height: $row-height;
}

.char-table td {
    border: 1px dashed black;
    vertical-align: middle;
    padding: 3px 15px;
}

.char-table td p {
    margin: 0;
}

.char-portrait {
    height: $row-height;
    width: $row-height;
    background-size: cover;
    border-radius: 50%;
    padding: 0 !important;
}