---
layout: default
---
{{ content }}

{% assign campaign = site.collections | where: "label", page.campaign | first %}

<div class="list-container">
  {% for post in campaign.docs %}
    {% if post.type != "index" %}
      <div class="list-item">
        <div class="list-date"><a href="{{ post.url | relative_url }}">{{ post.date | date: "%Y/%m/%d" }}</a></div>
        <div class="list-title">{{ post.title }}</div>
        <div class="list-excerpt">{{ post.excerpt }}</div>
      </div>
    {% endif %}
  {% endfor %}
</div>

