---
layout: default
---
{% assign pcs_current = site.data.pcs[page.campaign].player_characters | where: "in_party", "true" %}
{% assign pcs_former = site.data.pcs[page.campaign].player_characters | where: "in_party", "false" %}

<h2>Player Characters</h2>

<h3>Current</h3>

<table class="char-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Class</th>
      <th>Player</th>
    </tr>
  </thead>

  <tbody>
    {% for pc in pcs_current %}
    <tr>
      <td class="char-portrait" style="background-image: url('/assets/images/{{ page.campaign }}/{{ pc.portrait }}');">&nbsp;</td>
      <td><strong>{{ pc.name }}</strong></td>
      <td>{{ pc.race | capitalize }}</td>
      <td>{% if pc.gender == "f" %}&female;
          {% elsif pc.gender == "m" %}&male;
          {% else %}{{ pc.gender }}
          {% endif %}</td>
      <td>
        {% for c in pc.classes %}
        <p>{{ c[0] }} {{c[1]}} ({{c[2]}})</p>
        {% endfor %}
      </td>
      <td>{{ pc.player }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Former</h3>

<table class="char-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Class</th>
      <th>Player</th>
    </tr>
  </thead>

  <tbody>
    {% for pc in pcs_former %}
    <tr>
      <td class="char-portrait" style="background-image: url('/assets/images/{{ page.campaign }}/{{ pc.portrait }}');">&nbsp;</td>
      <td><strong>{{ pc.name }}</strong></td>
      <td>{{ pc.race | capitalize }}</td>
      <td>{% if pc.gender == "f" %}&female;
          {% elsif pc.gender == "m" %}&male;
          {% else %}{{ pc.gender }}
          {% endif %}</td>
      <td>
        {% for c in pc.classes %}
        <p>{{ c[0] }} {{c[1]}} ({{c[2]}})</p>
        {% endfor %}
      </td>
      <td>{{ pc.player }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>